@import url("../css/fonts.css");
*{box-sizing: border-box; -webkit-box-sizing: border-box; margin: 0;}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 100%; margin: auto;
    background-repeat: repeat;
}
.row{

}
.row:after{
    content: "";
    clear: both;
    display: block;
}
.col-1{width: 8.33%; float: left;}
.col-2{width: 16.66%; float: left;}
.col-3{width: 25%; float: left;}
.col-4{width: 33.33%; float: left;}
.col-5{width: 41.66%; float: left;}
.col-6{width: 50%; float: left;}
.col-7{width: 58.33%; float: left;}
.col-8{width: 66.66%; float: left;}
.col-9{width: 75%; float: left;}
.col-10{width: 83.33%; float: left;}
.col-11{width: 91.66%; float: left;}
.col-12{width: 100%; float: left;}
.banner-main{background: url(../images/wine.jpg); background-size: cover; background-repeat: no-repeat;}
.banner{background: rgba(0, 0, 0, 0.4); padding: 100px 30px; text-align: center;}
.banner > h1{font-size: 42px; color: white;}
.banner > p{font-size: 24px; font-family: lobster; color: white;}
.list{margin: 40px 40px 20px;}
.wines{padding: 0 6%;}
.wines > h2{margin-bottom: 20px;}
.wine-list{padding: 10px 0 10px;}
.wine-list .col-2 > p{color: orangered; float: right;}
.list-2{margin-top: 100px;}


.social{text-align: center; margin-top: 80px;}
.social i{padding: 5px;}
.social > .fa-facebook-square{color: blue;}
.social > .fa-twitter-square{color: lightseagreen;}
.social > .fa-instagram{color: red;}
.social > hr{margin-top: 40px; margin-bottom: 10px;}
.social > p{margin-bottom: 10px;}

/* @media screen and (max-width:1220px){
    .container{width: 970px;}
}
@media screen and (max-width:1000px){
    .container{width: 100%;}
} */
@media screen and (max-width:770px){
    .wines{width: 100%; margin-top: 30px;}
}